body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #75717149;
}

header {
    background: #cf7208;
    padding: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
}

nav {
    background: #0dee7d;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: rgb(26, 7, 7);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: rgb(117, 66, 66);
    padding: 20px;
    border-radius: 5px;
}

img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}